@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  color: #333;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1.875rem;
  }
}

a {
  color: #333;
  text-decoration: none;
}

a,
a:hover,
a i {
  transition: all 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* 部品
------------------------------------------ */
/* flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Poppinsフォント */
.Poppins {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

/* ボタン */
.button {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
}

.button-icon {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translate(0%, -50%);
}

@media (min-width: 768px) {
  .button-icon {
    right: 1rem;
  }
}

.button:hover .button-icon {
  margin-right: -0.5625rem;
}

/* ピンク色ボタン */
.button-pink {
  max-width: 17.5rem;
  padding: 0.8rem 0;
  margin: 0 auto;
  background-color: #f11f8d;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
  .button-pink {
    max-width: 19.875rem;
  }
}

.button-pink-icon {
  font-size: 1.4rem;
  right: 1rem;
}

@media (min-width: 768px) {
  .button-pink-icon {
    margin-right: 0.2rem;
  }
}

.button-pink:hover {
  background-color: #fff;
  border: 0.125rem solid #f11f8d;
  color: #f11f8d;
}

/* 白色ボタン */
.button-white-ghost {
  width: 19.875rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin: 0.1rem auto 0.5rem;
  font-size: 1.2344rem;
  border: 0.125rem solid #f11f8d;
  background-color: #fff;
  color: #f11f8d;
}

@media (min-width: 768px) {
  .button-white-ghost {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-bottom: 0rem;
    width: 21.8125rem;
    letter-spacing: 0.16em;
  }
}

.button-white-ghost-icon {
  font-size: 1.8rem;
  right: 0.8rem;
}

@media (min-width: 768px) {
  .button-white-ghost-icon {
    right: 1rem;
  }
}

.button-white-ghost:hover {
  color: #fff;
  background-color: #f11f8d;
}

img {
  max-width: 100%;
  height: auto;
}

/* セクションタイトル */
.section-title {
  position: relative;
  margin-bottom: 2.6rem;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2mm;
}

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 3.3rem;
    font-size: 2.25rem;
  }
}

.section-title::before {
  background-color: #0079f2;
  bottom: -9.5px;
  content: "";
  height: 0.125rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 1.5rem;
  /* 線の長さ */
}

@media (min-width: 768px) {
  .section-title::before {
    background-color: #0079f2;
    bottom: -13.5px;
    content: "";
    height: 0.125rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2.2rem;
    /* 線の長さ */
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0.55rem;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 1rem);
  margin: auto;
  height: 4.1825rem;
  background-color: #0079f2;
  border-radius: 5rem;
  padding: 1rem 2rem 1.125rem;
}

@media (min-width: 768px) {
  .header {
    top: 1rem;
    right: 0;
    left: 0;
    width: calc(100% - 1rem);
    margin: auto;
    height: 5rem;
    padding: 1rem 2.5rem 2rem;
  }
}

.header-logo {
  max-width: 9.9125rem;
}

@media (min-width: 768px) {
  .header-logo {
    max-width: 12rem;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  position: fixed;
  right: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
}

.hamburger-button i {
  line-height: 0;
  color: #fff;
}

/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 5.375rem;
    right: 0;
    left: 0;
    z-index: 1;
    width: calc(100% - 1rem);
    margin: auto;
    background-color: #0079f2;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 30px;
  }
}


/* スライドイン後の位置の指定 */
.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}

/* ナビゲーション */
@media (max-width: 767px) {
  .hamburger-menu-list-group {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    width: 100%;
    padding-top: 2.5rem;
    margin-bottom: 2.2rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group a {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .header-nav-list-group {
    column-gap: 2.3rem;
    height: 100%;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .header-nav-list-group a {
    color: #fff;
    font-size: 0.9375rem;
  }
}

/* SNSリンク */
.hamburger-sns {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.hamburger-sns a {
  font-size: 2rem;
  color: #fff;
}

/* PC表示のとき、SNSリンクを非表示に */
@media (min-width: 768px) {

  .hamburger-button,
  .hamburger-btn,
  .hamburger-sns {
    display: none;
  }
}

/* カバー
------------------------------------------ */
.cover {
  position: relative;
}

.cover-slick-item img {
  width: 93%;
  margin-left: 7%;
  border-bottom-left-radius: 6.5rem;
}

@media (min-width: 768px) {
  .cover-slick-item img {
    width: 83%;
    margin-left: 17.5%;
    border-bottom-left-radius: 9.5rem;
  }
}

/* ピックアップ */
.cover-pickup {
  position: absolute;
  bottom: 0;
  left: 6.6%;
}

@media (min-width: 768px) {
  .cover-pickup {
    bottom: 14%;
    left: 9.8%;
  }
}

/* タイトル */
.cover-title {
  display: table;
  margin-bottom: 0.45rem;
  line-height: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.085rem;
}

@media (min-width: 768px) {
  .cover-title {
    display: table;
    margin-bottom: 1.1rem;
    line-height: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    font-size: 2.25rem;
    font-weight: 700;
    padding: 1.65rem 1.295rem;
  }
}

.cover-title:first-child {
  display: table;
  margin-bottom: 0.5rem;
  line-height: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.9rem 1.3rem;
}

@media (min-width: 768px) {
  .cover-title:first-child {
    display: table;
    margin-bottom: 1.1rem;
    line-height: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.3rem 1.1rem;
  }
}

/* タイトルの文字 */
.cover-title .font-orange1 {
  color: #f2a118;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .cover-title .font-orange1 {
    font-size: 2.75rem;
  }
}

.cover-title .font-orange2 {
  color: #f2a118;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .cover-title .font-orange2 {
    font-size: 2.375rem;
  }
}

.cover-title .font-green1 {
  color: #46c017;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .cover-title .font-green1 {
    font-size: 2.75rem;
  }
}

.cover-title .font-green2 {
  color: #46c017;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .cover-title .font-green2 {
    font-size: 2.375rem;
  }
}

.cover-title .font-red1 {
  color: #f26618;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .cover-title .font-red1 {
    font-size: 2.75rem;
  }
}

.cover-title .font-red2 {
  color: #f26618;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .cover-title .font-red2 {
    font-size: 2.25rem;
  }
}

/* ドット */
.slick-dots {
  bottom: -1.8rem;
}

@media (min-width: 768px) {
  .slick-dots {
    text-align: right;
    right: 1.45rem;
    bottom: -2.2rem;
  }
}

/* コンタクト */
.cover-contact {
  text-align: center;
  margin-top: 3.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .cover-contact {
    margin-top: 3.5rem;
    padding-bottom: 4.5rem;
  }
}

.cover-contact-catch {
  margin-bottom: 1.1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .cover-contact-catch {
    margin-bottom: 1.4rem;
  }
}


/* キャンペーン
------------------------------------------ */
.campaign {
  background: rgba(0, 121, 242, 0.05);
  padding: 2rem 1.5rem 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .campaign {
    padding: 4rem 0 3.7rem;
  }
}

.campaign-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .campaign-container {
    flex-direction: initial;
    height: auto;
    max-width: 67.5rem;
    margin: 0 auto;
    align-items: start;
    justify-content: left;
    column-gap: 3.8125rem;
    margin-left: 20.3%;
  }
}

/* キャンペーン上部 */
.campaign-top {
  display: flex;
  flex-direction: column;
}

.campaign-top-box {
  display: flex;
  justify-content: space-between;
  max-width: 21.375rem;
  margin: 0 auto 0.55rem;
  column-gap: 0.7rem;
}

@media (min-width: 768px) {
  .campaign-top-box {
    max-width: 31.5625rem;
    margin: 0 auto 1.4375rem;
    column-gap: 0.8rem;
  }
}

.campaign-ranking {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
}

@media (min-width: 768px) {
  .campaign-ranking {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }
}

.campaign-top img {
  height: 7rem;
}

@media (min-width: 768px) {
  .campaign-top img {
    height: 10rem;
  }
}

.campaign-ranking-catch {
  display: flex;
  flex-direction: column;
}

/* 文字装飾 */
.campaign-ranking-year {
  font-size: 0.75rem;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .campaign-ranking-year {
    font-size: 1rem;
    padding-top: 1.5rem;
  }
}

.campaign-ranking-rank {
  font-size: 0.8125rem;
}

@media (min-width: 768px) {
  .campaign-ranking-rank {
    font-size: 1.25rem;
  }
}

.campaign-ranking-catch .font-red1 {
  color: #f26618;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

@media (min-width: 768px) {
  .campaign-ranking-catch .font-red1 {
    color: #f26618;
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
  }
}

.campaign-ranking-catch .font-red2 {
  color: #f26618;
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
}

@media (min-width: 768px) {
  .campaign-ranking-catch .font-red2 {
    color: #f26618;
    font-size: 3.75rem;
    font-weight: 800;
    font-style: italic;
  }
}

.campaign-ranking-catch .font-orange1 {
  color: #f2a118;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

@media (min-width: 768px) {
  .campaign-ranking-catch .font-orange1 {
    color: #f2a118;
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
  }
}

.campaign-ranking-catch .font-orange2 {
  color: #f2a118;
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
}

@media (min-width: 768px) {
  .campaign-ranking-catch .font-orange2 {
    color: #f2a118;
    font-size: 3.75rem;
    font-weight: 800;
    font-style: italic;
  }
}

.campaign-ranking-catch small {
  color: #666666;
  font-size: 0.625rem;
}

.campaign-ranking-b {
  margin-top: -1rem;
}

@media (min-width: 768px) {
  .campaign-ranking-b {
    margin-top: -0.2rem;
    line-height: 1;
    padding-bottom: 1.8rem;
  }
}

.campaign-top p {
  color: #666666;
  font-size: 0.75rem;
  margin-bottom: 0.9rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .campaign-top p {
    text-align: left;
    margin-bottom: 0;
    line-height: 1;
  }
}

/* キャンペーン下部 */
.campaign-bottom-catch {
  color: #f11f8d;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .campaign-bottom-catch {
    font-size: 1.5rem;
  }
}

.campaign-bottom-catch::before,
.campaign-bottom-catch::after {
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  background-color: #f11f8d;
  vertical-align: middle;
}

@media (min-width: 768px) {

  .campaign-bottom-catch::before,
  .campaign-bottom-catch::after {
    content: "";
    width: 1.875rem;
    height: 0.125rem;
    background-color: #f11f8d;
    vertical-align: middle;
    margin: 0 0.8rem;
  }
}

.campaign-bottom-catch::before {
  transform: rotate(55deg);
}

@media (min-width: 768px) {
  .campaign-bottom-catch::before {
    transform: rotate(60deg);
  }
}

.campaign-bottom-catch::after {
  transform: rotate(-55deg);
}

@media (min-width: 768px) {
  .campaign-bottom-catch::before {
    transform: rotate(60deg);
  }
}

/* コース案内
------------------------------------------ */
.course {
  padding: 4.42rem 1rem 5rem;
}

@media (min-width: 768px) {
  .course {
    padding: 5.9rem 1rem 6rem;
  }
}

/* 画像 */
.course img {
  border-radius: 0.5rem;
}

/* タブ */
.st-theme-basic {
  border: none;
}

@media (min-width: 768px) {
  .st-theme-basic {
    max-width: 67.5rem;
    margin: 0 auto;
  }
}

/* タブナビゲーション */
.tab.st>.nav {
  column-gap: 0.5rem;
  flex-direction: row !important;
}

@media (min-width: 768px) {
  .tab.st>.nav {
    column-gap: 0.8em;
    flex-direction: row !important;
    height: 5rem;
  }
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 0.537rem 0.537rem 0 0;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    font-size: 1.625rem;
  }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
  color: #fff !important;
  background-color: #f2a118;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

/* タブコンテンツ */
.tab-box {
  background-color: #ffedcc;
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .tab-box {
    background-color: #ffedcc;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1.4rem;
  }
}

.tab-content {
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 1.7rem;
}

@media (min-width: 768px) {
  .tab-content {
    height: 24.25rem;
    padding: 1.5rem;
  }
}

.tab-pane {
  flex-direction: column;
  row-gap: 2.42rem;
}

@media (min-width: 768px) {
  .tab-pane {
    flex-direction: row;
    column-gap: 1.5rem;
  }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
  flex-direction: column;
  row-gap: 2.25rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    justify-content: space-between;
    flex-direction: row;
    padding: 0.8rem
  }
}

/* タブの文字装飾 */
.course-tab-content-title {
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 0.3rem;
  margin-bottom: 0.45rem;
}

@media (min-width: 768px) {
  .course-tab-content-title {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 0.6875rem;
    margin-bottom: 0.5rem;
  }
}

.course-tab-content-yaer {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: 768px) {
  .course-tab-content-yaer {
    font-size: 1.125rem;
  }
}

/* お問い合わせ
------------------------------------------ */
.contact {
  background: rgba(0, 121, 242, 0.05);
  padding: 1.5rem 0 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contact {
    background: rgba(0, 121, 242, 0.05);
    padding: 1.9rem 1.9rem 2.5rem;
  }
}

.contact p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.15rem;
}

@media (min-width: 768px) {
  .contact p {
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
  }
}

/* プラン用 */
.plan-contact {
  background: rgba(0, 121, 242, 0.05);
  padding: 1.5rem 0 2.1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .plan-contact {
    background: rgba(0, 121, 242, 0.05);
    padding: 1.9rem 1.9rem 2.5rem;
  }
}

.plan-contact p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .plan-contact p {
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
  }
}

/* クエスチョン用 */
.question-contact {
  background: rgba(0, 121, 242, 0.05);
  padding: 1.5rem 2.5rem 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .question-contact {
    background: rgba(0, 121, 242, 0.05);
    padding: 1.8rem 2.5rem 2.65rem;
    text-align: center;
  }
}

.question-contact p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .question-contact p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
  }
}

/* 3つの特色
------------------------------------------ */
.point {
  padding: 4.3rem 1rem 2.5rem;
}

@media (min-width: 768px) {
  .point {
    padding: 6rem 10rem 5.7rem;
  }
}

@media (min-width: 768px) {
  .point .section-title {
    margin-bottom: 3.1rem;
    font-size: 2.25rem;
  }
}


.point-container-box {
  display: flex;
  flex-direction: column;
  max-width: 64.5rem;
  margin: auto;
}

@media (min-width: 768px) {
  .point-container-box {
    row-gap: 2.7rem;
    padding-top: 0.2rem;
  }
}

@media (min-width: 768px) {
  .point-container-box1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.125rem;
  }
}

@media (min-width: 768px) {
  .point-container-box1:nth-child(3) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.125rem;
    padding-top: 0.2rem;
  }
}

@media (min-width: 768px) {
  .point-container-box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.9rem;
  }
}

/* 画像 */
.point img {
  border-radius: 0.5rem;
}

/* ページ読み込み直後にフェードイン要素を非表示にする */
.animate__animated {
  opacity: 0;
}

/* 文字 */
.point-comment {
  padding: 0.68rem 0 2.15rem;
}

@media (min-width: 768px) {
  .point-comment {
    flex: 1;
    padding: 2rem 0 2.05rem;
  }
}

.point-catch {
  font-size: 3.75rem;
  font-style: italic;
  color: #46c017;
  line-height: 1;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  .point-catch {
    font-size: 5rem;
  }
}

.point p {
  margin: 0;
  letter-spacing: -0.022em;
  line-height: 1.7em;
}

@media (min-width: 768px) {
  .point p {
    font-size: 1.5rem;
    letter-spacing: -0.028em;
    padding-top: 0.1rem;
  }
}

/* 講師紹介
------------------------------------------ */
.instructor {
  text-align: center;
  padding: 4.65rem 2.5rem 5rem;
}

@media (min-width: 768px) {
  .instructor {
    padding: 6rem 2.5rem 5.9rem;
  }
}

/* 画像 */
.instructor img {
  border-radius: 50%;
  margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
  .instructor img {
    border-radius: 50%;
    margin-bottom: 0.8rem;
  }
}

.instructor span {
  display: block;
}

/* タイトル */
.instructor .section-title {
  margin-bottom: 2.55rem;
}

@media (min-width: 768px) {
  .instructor .section-title {
    margin-bottom: 3.5rem;
  }
}

/* 紹介 */
.instructor-box {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

@media (min-width: 768px) {
  .instructor-box {
    display: flex;
    flex-direction: row;
    max-width: 47rem;
    margin: 0 auto;
    column-gap: 2rem;
  }
}

.instructor-box1 {
  background-color: #ffeee5;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .instructor-box1 {
    background-color: #ffeee5;
    border-radius: 0.5rem;
    padding: 1.4375rem 1.5rem 1.5rem;
    width: 22.5rem;
  }
}

.instructor-box2 {
  background-color: #fff6e5;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .instructor-box2 {
    background-color: #fff6e5;
    border-radius: 0.5rem;
    padding: 1.4375rem 1.5rem 1.5rem;
    width: 22.5rem;
  }
}

/* 名前 */
.instructor-name {
  margin-bottom: 0.95rem;
  line-height: 1;
  letter-spacing: 0.025em;
}

@media (min-width: 768px) {
  .instructor-name {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

/* 経歴 */
.instructor-history {
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 1.26rem;
}

@media (min-width: 768px) {
  .instructor-history {
    font-size: 0.875rem;
    margin-bottom: 1.5375rem;
  }
}

/* コメント */
.instructor p {
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem 0.7rem;
  text-align: left;
  border-radius: 0.5rem;
  height: 8.1875rem;
}

@media (min-width: 768px) {
  .instructor p {
    height: auto;
  }
}


/* 料金プラン
------------------------------------------ */
.plan {
  padding: 4.3rem 1rem 1.4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .plan {
    padding: 6.1rem 1rem 3.5rem;
  }
}

.plan .section-title {
  margin-bottom: 2.45rem;
  letter-spacing: 0.001rem;
}

@media (min-width: 768px) {
  .plan .section-title {
    margin-bottom: 3.2rem;
  }
}

.plan .container {
  max-width: 22.375rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .plan .container {
    max-width: 47rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.plan h3 {
  font-size: 1.25rem;
  text-align: left;
  line-height: 1;
  margin-bottom: 1.1rem;
  letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
  .plan h3 {
    font-size: 1.5625rem;
    margin-bottom: 1.1rem;
  }
}

/* テーブル */
.plan table {
  border: solid 0.1875rem #dddddd;
  font-size: 1rem;
  width: 100%;
  border-collapse: collapse;
  line-height: 1;
}

.plan-box1 {
  padding-bottom: 3.55rem;
}

@media (min-width: 768px) {
  .plan-box1 {
    padding-bottom: 2.45rem;
  }
}

.plan-box2 {
  padding-bottom: 3.45rem;
}

@media (min-width: 768px) {
  .plan-box {
    padding-bottom: 2.75rem;
  }
}

.plan-box2 table {
  height: 23.0625rem;
}

@media (min-width: 768px) {
  .plan-box2 table {
    height: 21.2625rem;
  }
}

.plan th {
  background-color: #f5f5f5;
  border: solid 0.0625rem #dddddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .plan-box2 th {
    background-color: #f5f5f5;
    border: solid 0.0625rem #dddddd;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

.plan td {
  border: solid 0.0625rem #ddd;
  padding: 0.6rem 0.5rem;
}

@media (min-width: 768px) {
  .plan td {
    border: solid 0.0625rem #ddd;
    padding: 0.75rem 0.5rem;
  }
}

.plan-box2 td {
  border: solid 0.0625rem #ddd;
  padding: 0.62rem 0.5rem 0.7rem;
}

/* テーブル文字装飾 */
.plan-box-p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .plan-box-p {
    font-size: 1.125rem;
  }
}

.plan-font-b1 {
  color: #0079f2;
  width: 116px;
}

@media (min-width: 768px) {
  .plan-font-b1 {
    color: #0079f2;
    width: 238px;
    font-size: 1.125rem;
  }
}

.plan-font-b2 {
  color: #0079f2;
  width: 132px;
}

@media (min-width: 768px) {
  .plan-font-b2 {
    color: #0079f2;
    width: 238px;
    font-size: 1.125rem;
  }
}

.plan-font-p {
  font-size: 0.875rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .plan-font-p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.plan-font-p p {
  line-height: 0.5cm;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  letter-spacing: -0.01rem;
}

.plan-box2 .plan-font-p p {
  line-height: 0.65cm;
  margin-bottom: 0.6rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .plan-box2 .plan-font-p p {
    line-height: 0.62cm;
    margin-bottom: 0.5rem;
  }
}

.plan-money {
  color: #46c017;
  font-size: 2.0194rem;
}

@media (min-width: 768px) {
  .plan-money {
    color: #46c017;
    font-size: 2.2719rem;
  }
}

.plan-font-s {
  color: #46c017;
  font-size: 0.8838rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .plan-font-s {
    color: #46c017;
    font-size: 1.01rem;
    font-weight: 400;
  }
}

.plan small {
  color: #666666;
  font-size: 0.75rem;
  font-weight: 400;
  display: block;
  margin-top: 0.1rem;
}

@media (min-width: 768px) {
  .plan small {
    text-align: left;
  }
}

/* よくあるご質問
------------------------------------------ */
.question {
  padding: 4.3rem 1rem 3.8rem;
}

@media (min-width: 768px) {
  .question {
    padding: 6.1rem 0 4.65rem;
  }
}

.question .section-title {
  margin-bottom: 2.4rem;
  letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
  .question .section-title {
    margin-bottom: 3.3rem;
  }
}

/* アコーディオン */
.accordion {
  max-width: 22.375rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .accordion {
    max-width: 56.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}


/* アコーディオンの文字装飾 */
.accordion-q {
  padding: 0.5rem;
  margin-left: 0.2rem;
  line-height: 1rem;
  background-color: #ffeee5;
  border-radius: 50%;
  color: #f26618;
  text-align: center;
  font-size: 1rem;
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .accordion-q {
    padding: 0.9rem;
    line-height: 1rem;
    background-color: #ffeee5;
    border-radius: 50%;
    color: #f26618;
    text-align: center;
    font-size: 1.5rem;
    width: 48px;
    height: 48px;
  }
}

.accordion-title {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.accordion-icon {
  color: #f2a118;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .accordion-icon {
    color: #f2a118;
    font-size: 1.5rem;
  }
}

.accordion-answer {
  padding: 0.5rem;
  line-height: 1rem;
  background-color: #f26618;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .accordion-answer {
    padding: 0.9rem;
    line-height: 1rem;
    background-color: #f26618;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    width: 48px;
    height: 48px;
    margin-top: -0.55rem;
  }
}

.accordion-content {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.625rem;
}

@media (min-width: 768px) {
  .accordion-content {
    padding-right: 3.125rem;
  }
}

.acc-box-3 .accordion-content {
  letter-spacing: 0.01em;
  padding-right: 0.8rem;
}
@media (min-width: 768px) {
  .acc-box-3 .accordion-content {
    letter-spacing: 0;
    padding-right: 2.8rem;
  }
}

.acc-box-4 .accordion-content {
  letter-spacing: 0.01em;
  padding-right: 1.8rem;
}
@media (min-width: 768px) {
  .acc-box-4 .accordion-content {
    letter-spacing: 0;
    padding-right: 2.8rem;
  }
}

/* アコーディオンのコンテンツ部分 */
.accordion-box {
  border-radius: 0.5rem;
  border: 1px solid #f26618;
  margin-bottom: 1.4rem;
}

/* アコーディオンの上部 */
.accordion-box-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.9rem 0.8rem 1.24rem 1rem;
  column-gap: 0.55rem;
}

@media (min-width: 768px) {
  .accordion-box-top {
    align-items: center;
    padding: 1rem 1.25rem 1.3rem;
    column-gap: 0.55rem;
  }
}

.accordion-box-top2 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 0.85rem;
}

@media (min-width: 768px) {
  .accordion-box-top2 {
    align-items: center;
    column-gap: 1rem;
  }
}

/* アコーディオンの下部 */
.accordion-box-bottom {
  display: none;  /* 初期状態は非表示 */
  background-color: #ffeee5;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .accordion-box-bottom {
    display: none;
    /* 初期状態は非表示 */
    background-color: #ffeee5;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1.85rem 1.5rem;
  }
}

.accordion-box-bottom-a {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 0.55rem;
}

@media (min-width: 768px) {
  .accordion-box-bottom-a {
    display: flex;
    justify-content: left;
    align-items: start;
    column-gap: 0.85rem;
  }
}

/* 初期状態を表示するとき用のクラス */
.accordion-content-active {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}




/* フッター
------------------------------------------ */
.footer {
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.footer-sns {
  background-color: #000;
  color: #fff;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

@media (min-width: 768px) {
  .footer-sns {
    background-color: #000;
    color: #fff;
    display: flex;
    column-gap: 2.4rem;
    align-items: center;
    justify-content: center;
    height: 8.1rem;
    padding-bottom: 0.3rem;
  }
}

.footer-sns i {
  color: #fff;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .footer-sns i {
    color: #fff;
    font-size: 1.9rem;
  }
}

.footer-logo {
  margin-top: 0.85rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .footer-logo {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.footer-copyright {
  font-size: 0.625rem;
  color: #999;
}

@media (min-width: 768px) {
  .footer-copyright {
    font-size: 0.625rem;
    color: #999;
    margin-top: 1.2rem;
    display: block;
  }
}